.cardProductContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;

  & .info {
    width: 100%;

    & .infoTop {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & .infoBottom {
      font-size: 10px;
      display: flex;
      justify-content: space-between;
    }
  }

  & .buttons {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    gap: 10px;

    & button {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: none;
    }
  }
}
