/*TODO ver bug en animacion */

.container{
    height: fit-content;
    width: fit-content;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 98;
    backdrop-filter: blur(10px);
    margin-right: 10px;
}

.modalContentClose{
    position: relative;
    min-height: 200px;
    min-width: 500px;
    max-width: 700px;
    max-height: 800px;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #20192d;
    border-radius: var(--radius);
    overflow: hidden;
    animation: closeModalAnimation 230ms ease-in-out;
    transition: opacity 230ms, width 230ms;
}

@keyframes closeModalAnimation {
    0% {
        opacity: 1;
        width: 80%;
    }
    50%{
        opacity: 0.5;
        width: 40%;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}

.modalContent{
    position: relative;
    min-height: 200px;
    min-width: 500px;
    max-width: 700px;
    max-height: 800px;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #20192d;
    border-radius: var(--radius);
    overflow: hidden;
    animation: animateModal 200ms ease-in-out;
    transition: opacity 200ms, width 200ms;
}

@keyframes animateModal {
    0% {
        width: 0;
        opacity: 0;
    }
    50% {
        width: 40%;
        opacity: 0.5;
    }
    100% {
        width: 80%;
        opacity: 1;
    }
}

.children{
    overflow-y: scroll;
    padding-inline: 8px;
    width: 100%;
}

.buttonContainer{
    display: flex;
    width: 100%;
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background-color: #d63031;
    z-index: 99;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100%;
}

.closeButton:hover{
    scale: 90%;
    background-color: #d97474;
}

/*TODO reformatear para darle estilos de boton o usar un componente button idk se usa tambien en Stock para los 5 del formulario botones*/
.openModal{
    color: var(--text-third-color);
    height: 30px;
    width: fit-content;
    max-width: 120px;
    padding-inline: 10px;
    border: none;
    border-radius: var(--radius);
    font-weight: bold;
    background-color: var(--buy-button-color);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: scale 100ms;
}

.openModal:hover{
    scale: 96%;
}

@media screen and (max-width: 768px) {
    .modalContent {
        max-width: 90%;
        min-width: 300px;
    }
}
