.createProductContainer {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    width: 100%;
    min-width: 250px;

    & .title {
        font-weight: bold;
        font-size: 25px;
        color: white;

    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        width: 100%;
        min-width: 240px;

        & .icon{
            width: 20px;
            height: 20px;
            color: #191424;
        }
    }
}

label {
    font-size: 10px;
}