/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global configuration */
:root {
  /* Background colors */
  --bg-color: #0d0a12;
  --bg-color-off: #191424;
  --bg-color-offset: #ffffff;

  /* Text colors */
  --text-primary-color: #0d0a12;
  --text-secondary-color: #a6adbb;
  --text-third-color: #ffffff;

  /* Primary colors */
  --primary-color: #450399;

  /* Colors buttons */
  --basic-color: #450399;
  --buy-button-color: #00cc66;
  --pending-button-color: #ff8c00;
  --cancel-button-color: #d63031;

  /* Border colors */
  --border: #333;
  --border-off: #a6adbb;

  /* Other */
  --radius: 5px;

  --m-1: 1rem;
  --m-2: 6rem;

  /* Font sizes */
  --font-size-base: 1.5625rem;
  --fs-h1: clamp(var(--font-size-base), 1.5rem + 5.163vw, 6rem);
  --fs-h2: clamp(1.125rem, 2.625vw + 0.875rem, 1.625rem);
  --fs-h3: clamp(1.0625rem, 2.625vw + 0.875rem, 1.2125rem);

  /* Hover colors */
  --hover-primary: null;
  --hover-secondary: #ededed;

  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-size-small: 9px;
  --font-size-large: 14px;
}

:global .mySwal {
  max-width: 90%;
  font-family: var(--font-family);
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--text-secondary-color);
  background-color: var(--bg-color);
  font-size: var(--font-size-small);
}

@media screen and (min-width: 768px) {
  body {
    font-size: var(--font-size-large);
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: 600;
}

h1,
h2 {
  color: var(--text-primary-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color-off);
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--border-off);
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  height: 25px;
  padding: 5px;
  border-radius: var(--radius);
  border: 1px solid black;
  box-sizing: border-box;
  font-size: var(--font-size-small);
  background-color: var(--bg-color-offset);
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
  font-family: var(--font-family);
  background-color: var(--bg-color-offset);
}
