.stockContainer {
  width: 90dvw;
  min-height: 100dvh;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;

  & .paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;

    & button {
      background-color: var(--basic-color);
      border: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-weight: 900;
      color: var(--text-primary-color);
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  & .tableContainer {
    position: relative;
    width: 100%;
    display: flex;
    height: 250px;
    padding: 10px;
    background-color: var(--bg-color-off);
    border-radius: var(--radius);

    & ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }
  }

  .null {
    width: 100%;
    min-height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.filtersContainer {
  display: grid;
  grid-template-columns: 1fr 40%;
  gap: 10px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 25%;
  }
}
