.verificationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70dvh;

    & .background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #20192d;
        padding: 50px;
        gap: 50px;
        border-radius: var(--radius);
        margin: 20px;

        & h1{
            text-align: center;
            color: #a6adbb;
        }

        & .buttonSection {
            width: 200px;

            & a {
                color: white;
            }
        }

    }


}