.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & label {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 10px;
        color: black;
    }

    & .input {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border: 3px solid #20192d;
        border-radius: var(--radius);
        padding-left: 10px;
        overflow: hidden;
        overflow: clip;
        max-width: 400px;
        background-color: white;
        color: #20192d;

        & input {
            width: 100%;
            padding-top: 8px;
            padding-bottom: 7px;
            padding-left: 14px;
            font-size: 12px;
            background-color: white;
            border: none;
            color: black;
            appearance: none;
        }

        & input:focus {
            border: none;
            outline: none;
            color: black;
        }

        & input:focus::placeholder {
            color: white;
        }

        & input[type="number"]::-webkit-inner-spin-button,
        & input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        & input[type="number"] {
            -moz-appearance: textfield;
            appearance: textfield;
            margin-top: 2px;
            margin-bottom: 2px;

        }

        & input[type="checkbox"] {
            -moz-appearance: checkbox;
            appearance: textfield;
            margin-top: 7px;
            margin-bottom: 7px;

        }

    }

    & .input:focus-within {
        border: 3px solid var(--primary-color);
    }

}