.formContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.totalAmount {
  flex: 1 0 100px;
}

.discount {
  flex: 1 0 100px;
}

.paymentType {
  flex: 1 0 100px;
}

.invoiceNumber {
  flex: 1 0 100px;
}
