/*TODO ver altura para que no haga scroll */
.salesContainer {
	width: 90dvw;
	min-height: 100dvh;
	max-width: 1024px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;

	& .inputAndSugestionsContainer {
		& .searchInput {
			border-radius: 0px;
			border-top-right-radius: var(--radius);
			border-top-left-radius: var(--radius);
			border-bottom: none;
		}
		& .suggestions {
			display: flex;
			flex-direction: column;
			position: absolute;
			background-color: var(--bg-color-offset);
			height: 260px;
			width: 100%;
			z-index: 99;
			align-items: center;
			overflow-y: scroll;
			padding: 10px;
			cursor: pointer;
			border-bottom-right-radius: var(--radius);
			border-bottom-left-radius: var(--radius);
			animation: displaySuggestions 175ms ease-in-out;

			& ul {
				color: var(--text-primary-color);
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				transition: color 0.2s ease;
				& li {
					display: flex;
					align-items: center;
					width: 100%;
					height: 25px;
					border-bottom: solid 1px var(--border-off);
				}
				& li:hover {
					background-color: rgb(244, 244, 244);
				}
			}
		}
	}

	& .tableContainer {
		position: relative;
		width: 100%;
		display: flex;
		height: 250px;
		padding: 10px;
		background-color: var(--bg-color-off);
		border-radius: var(--radius);
		overflow-y: scroll;

		& ul {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 10px;
		}
	}

	& .formContainer {
		display: flex;
		width: 100%;
	}

	@media screen and (min-width: 768px) {
		.tableContainer {
			height: 275px;
		}

		.null {
			height: 275px;
		}
	}
}

.salesContainer
	.inputAndSugestionsContainer
	.suggestions::-webkit-scrollbar-thumb {
	background-color: var(--border);
}

.salesContainer
	.inputAndSugestionsContainer
	.suggestions::-webkit-scrollbar-track {
	border-radius: var(--radius);
	background-color: transparent;
}
.salesContainer .tableContainer::-webkit-scrollbar-track {
	border-radius: var(--radius);
	background-color: transparent;
}

@keyframes displaySuggestions {
	from {
		height: 0px;
	}

	to {
		display: flex;
		flex-direction: column;
		position: absolute;
		background-color: var(--bg-color-offset);
		height: 260px;
		width: 100%;
		z-index: 99;
		align-items: center;
		overflow-y: scroll;
		padding: 10px;
		cursor: pointer;
		border-bottom-right-radius: var(--radius);
		border-bottom-left-radius: var(--radius);
	}
}
