.salesContainer {
  width: 90%;
  height: 100dvh;
  max-width: 1024px;
  margin: auto;
  align-items: center;

  & .tableContainer {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;

    & ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }
  }
}
