.navbarContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  display: flex;

  & nav {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;

    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      & li a {
        background-color: var(--bg-color-off);
        display: flex;
        width: 110px;
        height: 110px;
        justify-content: center;
        align-items: center;
        border-radius: var(--radius);
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .navbarContainer {
    & nav ul {
      gap: 30px;

      & li a {
        width: 130px;
        height: 130px;
      }
    }
  }
}
