.formContainer {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 10px;
  width: 100%;

  & .itemContainer {
    display: flex;
    gap: 10px;
  }

  & .item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  & .totalProducts {
    width: 50%;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  & .totalPrice {
    width: 50%;
    font-weight: 700;
    border: 1px solid var(--primary-color);
    padding: 2px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--text-third-color);

    & .totalNumber {
      font-size: 11px;
    }
  }

  & label {
    padding-bottom: 3px;
  }

  & .buttonsSection{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    gap: 5px;
  }

  @media screen and (min-width: 768px) {
    gap: 15px;
  }
}
